# Data Structure_Dictionary

keys(), values, items, get, pop, popitem, clear, copy,fromkeys, dict.fromkeys(), {**d1,**d2}, dict(), zip, range

In [1]:
d={}
type(d)

dict

In [2]:
fruit={"Apple": 250, "Orange": 500, "Banana": 150, "Grapes": 400, "Grapes":300}
fruit

{'Apple': 250, 'Orange': 500, 'Banana': 150, 'Grapes': 300}

In [11]:
fruit={"Apple": 250, 
       "Orange": 500, 
       "Banana": 150, 
       "Grapes": 400, 
       "Grapes":300,
        22:2000,
       (22_8_2000): "Birthday"}
fruit
#cannot write in list directly for that there's a rule

{'Apple': 250,
 'Orange': 500,
 'Banana': 150,
 'Grapes': 300,
 22: 2000,
 2282000: 'Birthday'}

In [12]:
len(fruit)

6

In [13]:
type(fruit)

dict

In [14]:
fruit.keys()

dict_keys(['Apple', 'Orange', 'Banana', 'Grapes', 22, 2282000])

In [15]:
fruit.values()

dict_values([250, 500, 150, 300, 2000, 'Birthday'])

In [2]:
#rules for keys - immutable
d={"Batch": "Aug23",               #string
   "Student": {"S1","S2","S3"},    #set
   "Teacher": ["T1","T2","T3"],    #list
   "Classes": ("1st","2nd","3rd"), #tuple
   "Started": True,                #boolean
   "Marks":{"ITP":[20,30,40], "NPV":[30,40,20]}
  }
d

{'Batch': 'Aug23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [20, 30, 40], 'NPV': [30, 40, 20]}}

In [18]:
d["Student"]

{'S1', 'S2', 'S3'}

In [19]:
d["Batch"]

'Aug23'

In [22]:
d["Batch"]="JUN2023"
d

{'Batch': 'JUN2023',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [20, 30, 40], 'NPV': [30, 40, 20]}}

In [30]:
d["Location"]="Bangalore"
d

{'Batch': 'JUN2023',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [23, 30, 40], 'NPV': [30, 40, 20]},
 'Location': 'Bangalore'}

In [23]:
d["Marks"]["ITP"]

[20, 30, 40]

In [24]:
d["Marks"]["ITP"][0]

20

In [3]:
d["Marks"]["ITP"][0]+=6
d

{'Batch': 'Aug23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [26, 30, 40], 'NPV': [30, 40, 20]}}

In [31]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [33]:
d.keys()

dict_keys(['Batch', 'Student', 'Teacher', 'Classes', 'Started', 'Marks', 'Location'])

In [34]:
d.values()

dict_values(['JUN2023', {'S2', 'S1', 'S3'}, ['T1', 'T2', 'T3'], ('1st', '2nd', '3rd'), True, {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]}, 'Bangalore'])

In [35]:
d.items()

dict_items([('Batch', 'JUN2023'), ('Student', {'S2', 'S1', 'S3'}), ('Teacher', ['T1', 'T2', 'T3']), ('Classes', ('1st', '2nd', '3rd')), ('Started', True), ('Marks', {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]}), ('Location', 'Bangalore')])

In [36]:
d["Location"]

'Bangalore'

In [37]:
d["Program_Manager"]

KeyError: 'Program_Manager'

In [39]:
d.get("Location")

'Bangalore'

In [40]:
d.get("Program_Manager")

In [41]:
d.get("Program_Manager", "Not given")

'Not given'

In [43]:
d["Batch"]= "Aug23"
d

{'Batch': 'Aug23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]},
 'Location': 'Bangalore'}

In [5]:
d.update({"Batch": "JUN23", "Count": 36, "PM": "Gowthami"})
d

{'Batch': 'JUN23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [26, 30, 40], 'NPV': [30, 40, 20]},
 'Count': 36,
 'PM': 'Gowthami'}

In [6]:
d.setdefault("Batch", "AUG23")

'JUN23'

In [46]:
d.setdefault("CC", "Vidhya")

'Vidhya'

In [47]:
d

{'Batch': 'JUN23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]},
 'Location': 'Bangalore',
 'Count': 36,
 'PM': 'Gowthami',
 'CC': 'Vidhya'}

In [52]:
d.pop("CC")
d

{'Batch': 'JUN23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]},
 'Location': 'Bangalore',
 'Count': 36}

In [54]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [55]:
d.popitem()
d

{'Batch': 'JUN23',
 'Student': {'S1', 'S2', 'S3'},
 'Teacher': ['T1', 'T2', 'T3'],
 'Classes': ('1st', '2nd', '3rd'),
 'Started': True,
 'Marks': {'ITP': [24, 30, 40], 'NPV': [30, 40, 20]},
 'Location': 'Bangalore'}

In [59]:
list1=[("A",20), ("B",30), ("C",40)]
list1

[('A', 20), ('B', 30), ('C', 40)]

In [60]:
list2=(("A",20), ("B",30), ("C",40))
list2

(('A', 20), ('B', 30), ('C', 40))

In [64]:
list3=[["A",20], ["B",30], ["C",40]]
list3

[['A', 20], ['B', 30], ['C', 40]]

In [73]:
list4=(["A",20], ["B",30], ["C",40])
list4

(['A', 20], ['B', 30], ['C', 40])

In [7]:
list5={"S1", "S2", "S3"}
dict.fromkeys(list5, 5)

{'S3': 5, 'S2': 5, 'S1': 5}

In [8]:
s="Great Learning"
dict.fromkeys(s, 1)

{'G': 1,
 'r': 1,
 'e': 1,
 'a': 1,
 't': 1,
 ' ': 1,
 'L': 1,
 'n': 1,
 'i': 1,
 'g': 1}

In [69]:
#concatinating
d1={"a":10, "b":20}
d2={"c":100, "d":200}

In [70]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [72]:
{**d1, **d2}

{'a': 10, 'b': 20, 'c': 100, 'd': 200}

zip, range, enumerate

In [82]:
names=["S1", "S2", "S3"]
marks=[43,34,45]
list(zip(names,marks))

[('S1', 43), ('S2', 34), ('S3', 45)]

In [79]:
names=["S1", "S2", "S3"]
marks=[43,34,45]
tuple(zip(names,marks))

(('S1', 43), ('S2', 34), ('S3', 45))

In [80]:
names=["S1", "S2", "S3", "S4"]
marks=[43,34,45]
tuple(zip(names,marks))

(('S1', 43), ('S2', 34), ('S3', 45))

In [81]:
names=["S1", "S2", "S3"]
marks=[43,34,45]
dict(zip(names,marks))

{'S1': 43, 'S2': 34, 'S3': 45}

In [83]:
s='Python'
s2='Java'
list(zip(s,s2))

[('P', 'J'), ('y', 'a'), ('t', 'v'), ('h', 'a')]

In [85]:
list(enumerate(s))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [84]:
list(enumerate(names))

[(0, 'S1'), (1, 'S2'), (2, 'S3')]

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [89]:
list(range(-10,50,2))

[-10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [10]:
list(range(-10,-50,-2))

[-10,
 -12,
 -14,
 -16,
 -18,
 -20,
 -22,
 -24,
 -26,
 -28,
 -30,
 -32,
 -34,
 -36,
 -38,
 -40,
 -42,
 -44,
 -46,
 -48]

# Add

In [6]:
fruit["Strawberry"]= 300
fruit

{'Apple': 250, 'Orange': 500, 'Banana': 150, 'Grapes': 400, 'Strawberry': 300}

In [7]:
fruit["Strwberry"]= 350
fruit

{'Apple': 250,
 'Orange': 500,
 'Banana': 150,
 'Grapes': 400,
 'Strawberry': 300,
 'Strwberry': 350}

# Remove (Pop)

In [ ]:
fruit.pop("Strwberry")
fruit

# Modify

In [ ]:
fruit["Orange"]= 200
fruit

# Update fruit1 dictionary element with fruit 2:

In [11]:
fruit1={"Apple":100, "Orange": 150}
fruit2={"Mangoes": 200, "Grapes": 125}
fruit1.update(fruit2)
fruit1

{'Apple': 100, 'Orange': 150, 'Mangoes': 200, 'Grapes': 125}