In [1]:
# while loop
a = 0

while a<= 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
a = 1
while a<= 10:
    if a %2 == 0:
        print(a)
    a += 1

2
4
6
8
10

In [10]:
# Take 5 number as input from the user and find their average

a = 0
s = 0

while a < 5:
    val = float(input("Enter the num - "))
    s += val  # s = 10  , s = 30
    a += 1  # a = 1, a = 2

s/5

Enter the num - 10
Enter the num - 20
Enter the num - 15
Enter the num - 6
Enter the num - 2

10.6

In [ ]:
### break and continue

In [9]:
a = 1
while a<= 10:
    if a%6 == 0:
        break
    print(a)
    a += 1

1
2
3
4
5

In [ ]:
# take 5 numbers as input , but if we see a negative number 
# break the loop and print the average non-negative numbers

In [1]:
s = 0
c = 0

while c < 5:  
    num = float(input("Enter the num - "))
    
    if num < 0:
        break
        
    s += num
    c += 1
    
if c == 0:
    print("No positive value given")
else:
    print(s/c)

Enter the num - 5
Enter the num - 10
Enter the num - 15
Enter the num - 20
Enter the num - 25
15.0

In [15]:
s = 0
c = 0

while c < 5:  
    num = float(input("Enter the num - ")) 
    
    if num < 0:
        print("Enter a positive value")
        continue
        
    s += num
    c += 1

print(s/c)

Enter the num - 10
Enter the num - -5
Enter a positive value
Enter the num - 7
Enter the num - 8
Enter the num - -1
Enter a positive value
Enter the num - 10
Enter the num - 20
11.0

In [18]:
s = 0
p_c = 0
n_c = 0

c = 0

while c < 5: 
    num = float(input("Enter the num - ")) 
    if num < 0:
        n_c += 1
        c += 1
        print("Enter a positive value")
        continue
        
    s += num
    p_c += 1
    c += 1

Enter the num - 10
Enter the num - -5
Enter a positive value
Enter the num - 10
Enter the num - -5
Enter a positive value
Enter the num - 10

In [19]:
p_c

3

In [20]:
n_c

2

In [21]:
s

30.0

In [22]:
s = "pYtHon"

for i in s:
    print(i)

p
y
t
h
o
n

In [23]:
s = "pYtHon"

u = 0
l = 0

for i in s:
    if i.isupper():
        u += 1
    elif i.islower():
        l += 1
print(f"Upper count is {u}")
print(f"Lower count is {l}")

Upper count is 2
Lower count is 4

In [26]:
my_set = {10,20,60,90}
for i in my_set:
    print(i)

10
20
90
60

In [30]:
d = {"A" : 20, "B" : 40}
for i in d:
    print(i, d[i])

A 20
B 40

In [31]:
marks = [10,30, 23, 45, 22, 34]
# print the count of passed and failed students

p = 0
f = 0

for i in marks:
    if i >= 30:
        p += 1
    else:
        f += 1
print(f"Count of pass {p}")
print(f"count of failed {f}")

Count of pass 3
count of failed 3

In [35]:
d1 = {"S1" : 10,
     "S2" : 30,
     "S3" : 45,
     "S4" : 22,
     "S5" : 34}
# print the name and marks of students who failed

for i in d1:
    if d1[i]< 30:
        print(i, d1[i])

S1 10
S4 22

In [44]:
# find the factorial of a given number

num = int(input("Enter the num - "))  
if num >= 0:
    f = 1
    for i in range(1,num+1):
        f *= i  # f = 1, f = 2, f = 6
    print(f)
else:
    print("Factorial doesn't exists for neg numbers")

Enter the num - 3
6

In [50]:
# find all the divisors of a given number

num = int(input("Enter the num - ")) 

fac_list = []
for i in range(1, num): 
    if num%i == 0:
        fac_list.append(i)
fac_list

Enter the num - 10

[1, 2, 5]

In [57]:
# check whether a number is prime or not
num = int(input("Enter the num - ")) 

for i in range(2,num):
    if num %i == 0:
        print("Not a prime")
        break
else:
    print("prime")

Enter the num - 15
Not a prime

In [58]:
# print the table of 5 using for loop
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [59]:
a = 5
for i in range(1,11):
    print(a * i)

5
10
15
20
25
30
35
40
45
50

In [61]:
# print the table from 5 to 10
for i in range(5, 11):
    for j in range(1,11):
        print(f" {i} x {j} = {i*j}")
    print("-"*30)

 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
------------------------------
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60
------------------------------
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
------------------------------
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 8 x 10 = 80
------------------------------
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90
------------------------------
 10 x 1 = 10
 10 x 2 = 20
 10 x 3 = 30
 10 x 4 = 40
 10 x 5 = 50
 10 x 6 = 60
 10 x 7 = 70
 10 x 8 = 80
 10 x 9 = 90
 10 x 10 = 100
------------------------------

In [62]:
marks = [21, 32, 41, 25]

[  "pass" if i >=30 else "fail"     for i in marks ]

['fail', 'pass', 'pass', 'fail']

In [63]:
[   i**2  for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[ (21, "fail"),  (32, "pass"), (41, "pass"), (25, "fail")]

In [64]:
[  (i,"pass") if i >=30 else ( i,"fail")     for i in marks ]

[(21, 'fail'), (32, 'pass'), (41, 'pass'), (25, 'fail')]

In [67]:
table = [  i*j   for i in range(5,10)      for j in range(1,11)]
print(table)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [69]:
[  [   i*j  for j in range(1,11)]            for i in range(5,11)]

[[5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
[   final output        loop         filter condition]

In [71]:
# [ [ i*j ]  for i in range(5,10)      for j in range(1,11) ]

In [74]:
# dict comprehension
{   i : i**2        for i in range(1,11)   if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [75]:
{i**2        for i in range(1,11)   if i%2==0}

{4, 16, 36, 64, 100}

In [78]:
t = (i**2        for i in range(1,11)   if i%2==0)
tuple(t)

(4, 16, 36, 64, 100)

In [79]:
def factorial(num):
    if num >= 0:
        f = 1
        for i in range(1,num+1):
            f *= i  # f = 1, f = 2, f = 6
        print(f)
    else:
        print("Factorial doesn't exists for neg numbers")

In [80]:
factorial(4)

24

In [82]:
factorial(-1)

Factorial doesn't exists for neg numbers

In [83]:
def Prime(num):
    # check whether a number is prime or not

    for i in range(2,num):
        if num %i == 0:
            print("Not a prime")
            break
    else:
        print("prime")

In [84]:
Prime(9)

Not a prime

In [85]:
Prime(7)

prime