print using sep, end:

In [1]:
print('Hello World')

Hello World

In [2]:
print()
print()

In [3]:
print('Hello', 'World')

Hello World

In [6]:
print('Hello','\n' 'World')

Hello
World

In [7]:
print('Hello','\n' 'World',sep='\n')

Hello

World

In [15]:
print('Hello', 'World',sep=' ')

Hello World

In [10]:
print('Hello','\nWorld')

Hello
World

In [18]:
print('Myself Akshen Dhami',sep=",")

Myself Akshen Dhami

In [20]:
print('Myself','Akshen Dhami',sep="")

MyselfAkshen Dhami

In [27]:
print('Myself Akshen Dhami',end=", ")
print('BE Comp')

Myself Akshen Dhami, BE Comp

In [30]:
print('Myself Akshen Dhami',end="\n") 
print('BE Comp')

Myself Akshen Dhami
BE Comp

In [32]:
print('Myself Akshen Dhami',end=" ")
print('BE Comp')

Myself Akshen Dhami BE Comp

In [39]:
print('Myself','Akshen','Dhami',sep="\t")
print('BE Comp')

Myself	Akshen	Dhami
BE Comp

In [40]:
print('Myself','Akshen','Dhami',end="\t")
print('BE Comp')

Myself Akshen Dhami	BE Comp

In [59]:
m1='Python'
m2='Coding'
print('1)',m1),print('1)',m2)
print('2)',m1,m2)
print('3)',m1,m2,sep='\n')
print('4)',m1,m2,end='\n')
print('5)',m1,m2,sep=' ')
print('6)',m1,m2,end=' ')
print('7)',m1,m2,sep=',')
print('8)',m1,m2,end=',')
print('9)',m1,m2,sep='\t')
print('10)',m1,m2,end='\t')

1) Python
1) Coding
2) Python Coding
3)
Python
Coding
4) Python Coding
5) Python Coding
6) Python Coding 7),Python,Coding
8) Python Coding,9)	Python	Coding
10) Python Coding

input:

In [62]:
a=input('Enter your name')
a

Enter your nameAkshen

'Akshen'

In [63]:
a

'Akshen'

In [64]:
id(a) -- unique identifier (memory address)

1790945436528

In [65]:
print(id(a))

1790945436528

Rules to be followed:

In [66]:
#a variable name cannot start with number
9A = 20

SyntaxError: invalid decimal literal (1943876939.py, line 2)

In [67]:
A9=20

In [68]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
A@ = 20

SyntaxError: invalid syntax (1210189233.py, line 3)

In [69]:
A_B = 100

In [70]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
y = 200

In [71]:
Y=300
print(Y)

300

In [72]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
# we cannot have space b/w the variable name
first num = 230

SyntaxError: invalid syntax (1921505499.py, line 5)

In [73]:
first_num = 230
print(first_num)

230

In [74]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
# we cannot have space b/w the variable name
# A python keyword or function should not be used as variable name
# print = "hello", else whatever you will print will get only hello

print together:

In [75]:
name=input('Enter your name: ')
age=input('Enter your age: ')

Enter your name: Akshen
Enter your age: 23

In [85]:
print('Your name is:', name, 'and', 'your age is:',age, end='\n')

Your name is: Akshen and your age is: 23

In [86]:
name = input("Enter your name - ") 
age = input("Enter your age - ") 

print("Name is {} and age is {}".format(name,age))

Enter your name - Akshen
Enter your age - 23
Name is Akshen and age is 23

function:

In [90]:
def Total(itp,sql):
    total=itp+sql
    return total

In [92]:
Total(12,15)

27

In [93]:
def Average(itp,sql):
    avg=(itp+sql)/2
    return avg

In [94]:
Average(100, 80)

90.0

'',''' ''',"":

In [95]:
s='python'
s

'python'

In [97]:
s="'python'"
s

"'python'"

In [98]:
s= "i can't tolerate it"
s

"i can't tolerate it"

In [99]:
s= '''i can't tolerate it'''
s

"i can't tolerate it"

Basic datatype:

In [106]:
#20
a=20
print(a)
print(type(a))

20
<class 'int'>

In [107]:
b=float(a)
print(b)
print(type(b))

20.0
<class 'float'>

In [109]:
c=str(a)
print(c)
print(type(c))

20
<class 'str'>

In [110]:
d=complex(a)
print(d)
print(type(d))

(20+0j)
<class 'complex'>

In [113]:
print(d.real)
print(d.imag)

20.0
0.0

In [111]:
e=bool(a)
print(e)
print(type(e))

True
<class 'bool'>

in bool less than and equal to 0 are considered false

In [100]:
# type casting
# implicit type casting
True + False + True

2

Operator:

In [114]:
#Arithmetic
x=10
y=20
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

# BODMAS
# PEMDAS

30 -10 200 0.5 0 10 100000000000000000000

In [142]:
s='Akshen'
s2='Dhami'
print(s+s2, sep=',')

AkshenDhami

In [143]:
s='Akshen'
s2=10
print(s+s2, sep=',')

TypeError: can only concatenate str (not "int") to str

In [144]:
s*3

'AkshenAkshenAkshen'

In [115]:
#Relational
x=10
y=20
print(x>y, x<y, x==y, x!=y, x>=y, x<=y)

False True False True False True

In [161]:
s = "pyThon"
s2 = "python"
s>s2

False

In [123]:
#Logical
x=0
y=20
print(x and y, x or y, x, y, not x, not y)

0 20 0 20 True False

In [166]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
(age >= 18)  and  (c=="india")

Enter your age - 23
Enter your country - India

False

In [167]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
(age >= 18)  or  (c=="india")

Enter your age - 2
Enter your country - india

True

In [168]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
not ((age >= 18)  or  (c=="india"))

Enter your age - 17
Enter your country - India

True

In [165]:
#Bitwise:
bin(10)

'0b1010'

In [122]:
x=10
y=20
print(x & y, x | y, ~ x, ~ y, x^y, x>>y, y>>x, x<<y, y<<x)

0 30 -11 -21 30 0 0 10485760 20480

In [148]:
#Assignment operator:
#(=,+=,-=,*=,/=,//=,%=,**=)
x=10
print(x)

10

In [151]:
x+=10
x

20

In [152]:
x-=10
x

10

In [153]:
x*=10
x

100

In [154]:
x/=10
x

10.0

In [155]:
x//=10
x

1.0

In [156]:
x%=10
x

1.0

In [157]:
x**=10
x

1.0

In [159]:
s*=2
s

'AkshenAkshenAkshenAkshen'

Ascii:

In [162]:
ord('Y')

89

In [163]:
ord('y')

121

In [164]:
chr(89)

'Y'

In [169]:
# membership operator - in, not in
# collection types - str, list, tuple, set, dict
s

'pyThon'

In [170]:
"p" in s  #True/False

True

In [171]:
"py" in s

True

In [172]:
"pY" in s

False

In [173]:
"po" in s

False

In [174]:
"po" not in s

True