In [15]:
print("Hello world")

Hello world

In [16]:
print()
print()

In [17]:
print("Hello \nworld")

Hello
world

In [18]:
print("Hello world",  end = ",")
print("We are learning python")

Hello world,We are learning python

In [19]:
print("Hello world", "We are learning python", "Batch is Aug23")

Hello world We are learning python Batch is Aug23

In [2]:
print("Hello world", "We are learning python", "Batch is Aug23", sep = ",")

Hello world,We are learning python,Batch is Aug23

In [7]:
print("Hello world", "We are learning python", "Batch is Aug23", sep = "\n")

Hello world
We are learning python
Batch is Aug23

In [8]:
print("Hello world", "We are learning python", "Batch is Aug23", sep = "\t")

Hello world	We are learning python	Batch is Aug23

In [9]:
# input
m1 = "python"
m2 = "sql"
print(m1)
print(m2)

python
sql

In [10]:
# taking input
input("Enter your name - ")

Enter your name - Akshen

'Akshen'

In [11]:
# variables are named memory location

name = input("Enter your name - ")
print(name)

Enter your name - Dhami
Dhami

In [12]:
id(name)

2554810792112

In [13]:
name

'Dhami'

In [14]:
#a variable name cannot start with number
9A = 20

SyntaxError: invalid decimal literal (1943876939.py, line 2)

In [ ]:
A9 = 20

In [ ]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
A@ = 20

In [ ]:
A_B = 100

In [ ]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
y = 200

In [ ]:
Y = 300
print(Y)

In [ ]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
# we cannot have space b/w the variable name
first num = 230

In [ ]:
first_num = 230
print(first_num)

In [ ]:
#a variable name cannot start with number
# A variable name should not have any special char other than underscore
# python is case senstive - variable names are case sensitive
# we cannot have space b/w the variable name
# A python keyword or function should not be used as variable name
# print = "hello"

In [ ]:
print("Hello world")

In [ ]:
name = input("Enter your name - ") 
age = input("Enter your age - ") 

print("Name is", name, "Age is", age)

In [ ]:
name = input("Enter your name - ") 
age = input("Enter your age - ") 

print("Name is {} and age is {}".format(name,age))

In [ ]:
name = input("Enter your name - ") 
age = input("Enter your age - ") 

print(f"Name is {name} and age is {age}")

In [ ]:
def Total(itp, sql):   # user defined functions
    total = itp + sql
    return total

In [ ]:
Total(45,30)

In [ ]:
Total(33,35)

In [ ]:
def Avg(itp, sql):   # user defined functions
    total = itp + sql
    return total/2

In [ ]:
Avg(34,45)

In [3]:
# data types

a = -20
print(a)

-20

In [4]:
type(a)

int

In [5]:
b = 10.
print(b)
print(type(b))

10.0
<class 'float'>

In [6]:
c =  5J
print(c)
print(type(c))

5j
<class 'complex'>

In [7]:
c.real

0.0

In [8]:
c.imag

5.0

In [9]:
s = '''python'''
print(s)
print(type(s))

python
<class 'str'>

In [10]:
s = '''120'''
print(s)
print(type(s))

120
<class 'str'>

In [11]:
s = "Student's marks are low"
s

"Student's marks are low"

In [12]:
s = '''Student's marks are "low"'''
print(s)

Student's marks are "low"

In [13]:
s = '''Python day 1 is about basics.
Python day 2 is about collection types'''
print(s)

Python day 1 is about basics.
Python day 2 is about collection types

In [14]:
Course_s = False
print(Course_s)
print(type(Course_s))

False
<class 'bool'>

In [15]:
# type casting
# implicit type casting
True + False + True

2

In [16]:
A = 20
type(a)

int

In [17]:
B = float(A)
print(B)

20.0

In [18]:
print(A)

20

In [19]:
str(A)

'20'

In [20]:
complex(A)

(20+0j)

In [21]:
bool(A)

True

In [22]:
C = 0
bool(C)

False

In [23]:
# float
F = 10.22  # int, str, complex, bool

In [24]:
c = 10 + 5j
float(c)

TypeError: float() argument must be a string or a real number, not 'complex'

In [25]:
c1 = str(c)
c1

'(10+5j)'

In [26]:
# c1[0]

In [27]:
bool(c)

True

In [28]:
bool(0+1j)

True

In [29]:
# str
s = "python"  #int, float, bool, complex
int(s)

ValueError: invalid literal for int() with base 10: 'python'

In [30]:
# str
s = "120   "  #int, float, bool, complex
int(s)

120

In [31]:
float(s)

120.0

In [32]:
complex(s)

(120+0j)

In [33]:
# str
s = "120J"  #int, float, bool, complex
complex(s)

120j

In [34]:
bool(s)

True

In [35]:
s = ""
bool(s)

False

In [36]:
# bool 
A = True  # int, float, str, complex
B = False

In [37]:
# Arithmatic 
X = 10
Y = 20
X + Y

30

In [38]:
X - Y

-10

In [39]:
X * Y

200

In [40]:
X/Y

0.5

In [41]:
X//Y

0

In [42]:
10//4.0

2.0

In [43]:
10%4

2

In [44]:
10**3

1000

In [45]:
10**(1/2)

3.1622776601683795

In [46]:
10**(1/3)

2.154434690031884

In [47]:
10**0

1

In [48]:
# BODMAS
# PEMDAS

In [49]:
10+1/2

10.5

In [50]:
# numeric - int, float
# on str
s = "Hello"
s2 = "Python"
s + s2

'HelloPython'

In [51]:
10 + s

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
True + False

1

In [53]:
s - s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [54]:
# + - concatenation
# * - (self replication)
s * 3

'HelloHelloHello'

In [55]:
# Assignment operators 
# (=, +=, -=, *=, /=,//=,%=,**=)
A = 20
print(A)

20

In [56]:
A += 10   # A = A + 10
A

30

In [57]:
Z += 20  # Z = Z + 20

NameError: name 'Z' is not defined

In [58]:
A -= 5
A

25

In [59]:
A *= 2
A

50

In [60]:
A /= 2
A

25.0

In [61]:
s += "python"  # s = s+ "python"
s

'Hellopython'

In [62]:
s *= 2
s

'HellopythonHellopython'

In [63]:
# Relational operator
# >, < ,>=, <=, ==, !=
A = 10
B = 20
A > B

False

In [64]:
A = 10
B = 20
A < B

True

In [65]:
A = 10
B = 20
A == B

False

In [66]:
A = 10
B = 20
A != B

True

In [67]:
A = 10
B = 20
A >= B

False

In [68]:
A = 10
B = 20
A <= B

True

In [69]:
True < False

False

In [70]:
s = "pyThon"
s2 = "python"

In [71]:
s > s2

False

In [72]:
# ASCII
ord("Y")

89

In [73]:
ord("y")

121

In [74]:
chr(80)

'P'

In [76]:
# checkpassword
# - char, numbers, special,

In [77]:
(10+5j) > 45

TypeError: '>' not supported between instances of 'complex' and 'int'

In [78]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
(age >= 18)  and  (c=="india")

Enter your age - 22
Enter your country - india

True

In [79]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
(age >= 18)  or  (c=="india")

Enter your age - 27
Enter your country - india

True

In [80]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
not (  (age >= 18)  or  (c=="india")  )

Enter your age - 17
Enter your country - indi

True

In [81]:
# membership operator - in, not in
# collection types - str, list, tuple, set, dict
s

'pyThon'

In [82]:
"p" in s  #True/False

True

In [83]:
"py" in s

True

In [84]:
"pY" in s

False

In [85]:
"po" in s

False

In [86]:
"po" not in s

True

In [ ]:
# bitwise operators

In [87]:
bin(10)

'0b1010'

In [88]:
# bitwise &, |, ~, XOR, >>, <<
a = 10
b = 11

In [89]:
# 10 - 1010
# 11 - 1011
#      1010

In [90]:
a & b

10

In [91]:
# 10 - 1010
# 11 - 1011
#      1011
a | b

11

In [92]:
# unary operator
# -n-1
~ 10

-11

In [93]:
~ 20

-21

In [94]:
~ -10  # -(-10) -1

9

In [95]:
# XOR
# 10 - 1010
# 11 - 1011
#      0001

# the bits should be different then 1 else 0
a^b

1

In [96]:
10 >> 2

2

In [97]:
10 << 2

40

In [98]:
# 0b1010

In [ ]:
Campu$#2!