In [1]:
list1 = [  [1,2],  [5,8], [9,11], "python" ]

for i in list1:
    print(i)

[1, 2]
[5, 8]
[9, 11]
python

In [2]:
a,b = 10, 20
a

10

In [3]:
b

20

In [4]:
a,b, c = 10, 20, 40
a

10

In [5]:
a= 10,20,80
a

(10, 20, 80)

In [6]:
a,b, c =  [1,2] 
a

ValueError: not enough values to unpack (expected 3, got 2)

In [7]:
b

20

In [ ]:
list1 = [  [1,2],  [5,8], [9,11], "py"]
for i, j  in list1:
    print("Value of i", i)
    print("value of j", j)
    print("-"*10)

In [ ]:
list1 = [1,2,3]
list2 = [1,2,3]
for i,j in zip(list1,list2):
    print(i*j)

In [ ]:
# functions -
def Factors(num):
    list_fac = []
    
    for i in range(1, num):
        if num%i == 0:
            list_fac.append(i)
    return list_fac

In [ ]:
if sum(Factors(220)) == 284   and sum(Factors(284)) == 220:
    print("Amicable")
else:
    print("Not Amicable")

In [13]:
def Factors(num):
    list_fac = []
    
    for i in range(1, num):
        if num%i == 0:
            list_fac.append(i)
    print(list_fac)

In [14]:
fac_220 = Factors(220)

[1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110]

In [ ]:
x = print("hello")

In [ ]:
print(x)

In [ ]:
print(fac_220)

In [ ]:
# Types of arguments
# No arguments
# Positional argument
# Keyword arguments
# Default
# Variable length
# Keyword Variable length

In [8]:
# No arguments
def Greet():
    return "Good Morning"

In [9]:
Greet()

'Good Morning'

In [10]:
Greet("John")

TypeError: Greet() takes 0 positional arguments but 1 was given

In [11]:
# Positional arguments
def NewPrice(price, discount):
    new_price = price - (price* (discount/100))
    return new_price

In [12]:
NewPrice(500, 10)

450.0

In [15]:
NewPrice(10, 500)  # keyword arguments

-40.0

In [ ]:
NewPrice(discount = 10, price = 500)  # keyword arguments

In [ ]:
# Positional arguments
def NewPrice(price, discount, prodname):
    new_price = price - (price* (discount/100))
    return f"New price of {prodname} is {new_price}"

In [ ]:
NewPrice(200,5, "Mouse")

In [ ]:
NewPrice(price = 200,discount = 5, prodname = "Mouse")

In [ ]:
NewPrice(200, 5, prodname = "Mouse")

In [ ]:
NewPrice(price = 200, 5,  "Mouse")

In [ ]:
NewPrice(500, prodname = "Shoes", price = 300)

In [16]:
# Default arguments
def NewPrice(price, discount = 10):
    new_price = price - (price* (discount/100))
    return new_price

In [17]:
NewPrice(500)

450.0

In [ ]:
NewPrice(500, 15)

In [ ]:
NewPrice(200)

In [ ]:
# Default arguments
def NewPrice(price, discount = 10):
    '''
    Returns new price after applying discount.
    
    Arguments : price - number
                discount = 10 default
    
    '''
    new_price = price - (price* (discount/100))
    return new_price

In [ ]:
NewPrice(230)

In [ ]:
# variable length argument
# max(10,12, 4, 14, 10, 88)

In [ ]:
a, *b = 10,20, 40, 50
a

In [ ]:
b

In [ ]:
*a, b = 10,20, 40
a

In [ ]:
b

In [2]:
def VarLenFunc(*args):
    return args

In [5]:
VarLenFunc(20,30)

(20, 30)

In [ ]:
# func to find count of passed and failed 
def PassNFailCount(*marks):
    c_p = 0
    c_f = 0
    
    for i in marks:
        if i >= 30:
            c_p += 1
        else:
            c_f += 1
    return c_p, c_f

In [ ]:
p, f = PassNFailCount(22,34,23,45,22)
p

In [ ]:
f

In [ ]:
p, f = PassNFailCount(22,34,23,45,22, 34, 36)
p

In [ ]:
f

In [ ]:
# keyword variable len argument
def KeyVarFunc(**kwargs):
    return kwargs

In [ ]:
KeyVarFunc(S1 = 22, S2 = 34, S3 = 44, S4 = 46)

In [6]:
# Variables

Z = 10  # global variable

def Func():
    X = 200  # local variable
    return X + Z

In [7]:
Func()

210

In [8]:
print(Z)

10

In [9]:
print(X)

NameError: name 'X' is not defined

In [12]:
# Variables

Z = 10  # global variable

def Func():
    global Z
    Z += 200
    return Z

In [17]:
Func()

610

In [18]:
print(Z)

610

In [25]:
add = lambda x, y : x+y
add(10,20)

30

In [24]:
def Add(x,y) :
    return x + y

a2= Add
a2(10,20)

30

In [27]:
h2 = lambda x, y : x if x > y else y
h2(10,20)

20

In [ ]:
# map, filter
# map(   func,     *iterables)

In [30]:
my_list = [22,24,33,43,36,21]
val1 = map(  lambda x : "pass" if x >= 30 else "fail",  my_list )  
# iterator - it can be used just once then it is destroyed
list(val1)

['fail', 'fail', 'pass', 'pass', 'pass', 'fail']

In [31]:
list(val1)

[]

In [34]:
def Passfail(x):
    if x >= 30:
        return "Pass"
    else:
        return "Fail"

In [35]:
my_list = [22,24,33,43,36,21]
val1 = map(Passfail  ,  my_list )  
# iterator - it can be used just once then it is destroyed
list(val1)

['Fail', 'Fail', 'Pass', 'Pass', 'Pass', 'Fail']

In [36]:
names = ["Manvendra", "Vidya", "Gowthami", "Bhushan"]
val1 = map(len  ,  names )  
# iterator - it can be used just once then it is destroyed
list(val1)

[9, 5, 8, 7]

In [38]:
my_list = [22,24,33,43,36,21]
list(map(str, my_list))

['22', '24', '33', '43', '36', '21']

In [42]:
marks = [22,24,33,43,36,21]
names = ["S1", "S2", "S3", "S4", "S5", "S6"]
list(map(   lambda x, y : f"{y} - {x} "     , marks,   names))

['S1 - 22 ', 'S2 - 24 ', 'S3 - 33 ', 'S4 - 43 ', 'S5 - 36 ', 'S6 - 21 ']

In [43]:
marks = [22,24,33,43,36,21]
names = ["S1", "S2", "S3", "S4", "S5", "S6"]
def MapMarks(x,y):
    return f"{y} - {x} "
list(map(   MapMarks     , marks,   names))

['S1 - 22 ', 'S2 - 24 ', 'S3 - 33 ', 'S4 - 43 ', 'S5 - 36 ', 'S6 - 21 ']

In [47]:
# filter
names = ["Manvendra", "Vidya", "Gowthami", "Bhushan"]
list( filter(  lambda x :   len(x) > 5   , names)  )

['Manvendra', 'Gowthami', 'Bhushan']

In [50]:
def FilterNames(x):
    return len(x)> 5

In [51]:
list( filter(  FilterNames   , names)  )

['Manvendra', 'Gowthami', 'Bhushan']

In [52]:
names = ["Manvendra", "vidya", "gowthami", "Bhushan"]
# filter the name which has first letter in lower case
list(filter(  lambda x  : x[0].islower(),   names))

['vidya', 'gowthami']

In [54]:
# filter the names which has 2 a in their name
list(filter(  lambda x  : x.count("a") == 2,   names))

['Manvendra']

In [57]:
marks = [22,24,33,"",36,21]
list(filter(None, marks))

[22, 24, 33, 36, 21]

In [1]:
# str = "hello"
# str

In [2]:
str(10)

'10'

In [3]:
# reduce, accumulate
import calculator

In [5]:
calculator.Addition(10,20)

30

In [6]:
# itertools, functools
import itertools
print(dir(itertools))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', '_grouper', '_tee', '_tee_dataobject', 'accumulate', 'chain', 'combinations', 'combinations_with_replacement', 'compress', 'count', 'cycle', 'dropwhile', 'filterfalse', 'groupby', 'islice', 'pairwise', 'permutations', 'product', 'repeat', 'starmap', 'takewhile', 'tee', 'zip_longest']

In [7]:
import functools
print(dir(functools))

['GenericAlias', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cache', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [16]:
marks = [22,24,33,43,36,21]
functools.reduce(lambda x,y : x+y, marks)

179

In [24]:
# x = 22    # 22
# y = 24
# x = x + y  # 46
# y = 33
# x = x + y  # 79
# y = 43
# x = x+ y  # 122
# y = 36
# x = x+ y   # 158
# y = 21
# x = x+ y  # 179
# x

In [23]:
list(itertools.accumulate(marks, lambda x,y : x+y ))

[22, 46, 79, 122, 158, 179]